<link rel="stylesheet" href="./components/search/search.css">
<div class="divider">

</div>
<div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon flex border-none search-field" ng-controller="SearchController">
  <i class="material-icons mdc-text-field__icon">search</i>
  <input class="mdc-text-field__input ng-pristine ng-valid ng-empty ng-touched" ng-model="search" ng-keydown="searchChanged($event)">
  <div class="mdc-notched-outline border-none mdc-notched-outline--upgraded">
    <div class="mdc-notched-outline__leading border-none"></div>
    <div class="mdc-notched-outline__notch border-none" style="">
      <label class="mdc-floating-label">{{placeholder}}</label>
    </div>
    <div class="mdc-notched-outline__trailing border-none"></div>
  </div>
</div>
<div class="mdc-text-field-helper-line helper">
  <div class="mdc-text-field-helper-text">Press enter to search.</div>
</div>
<div class="divider background-placeholder">

</div>
