@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/textfield/mdc-text-field";
@import "chartist/dist/scss/chartist.scss";

.grid {

}

.divider {
  background-color: gray;
  opacity: 0.3;
  height: 1px;
  margin-bottom: 20px;
}

.margin-8px {
  margin: 8px;
}

#edit-content {
  justify-content: center;
  align-items: center;
}
