@import "chartist/dist/scss/chartist.scss";

.grid {

}

.divider {
  background-color: gray;
  opacity: 0.3;
  height: 1px;
  margin-bottom: 20px;
}

.margin-8px {
  margin: 8px;
}

#edit-content {
  justify-content: center;
  align-items: center;
}

.delete-button {
  margin-top: 8px;
  background-color: rgb(240, 52, 52) !important;
}
