<div class="container-fluid" ng-controller="type-form">
  <div class="row">
    <div class="col-sm" style="padding-top: 20pt; padding-bottom: 20pt; box-sizing: content-box">
        <div class="card">
          <div class="card-body">
            <form class="flex-row">
              <div class="form-group">
                <label for="name">Name</label>
                <input id="name" type="text" class="form-control" ng-model="name" placeholder="All Grain No Pain">
              </div>
              <div class="form-group">
                <label for="divisor">Target</label>
                <select class="form-control" id="divisor">
                  <option ng-repeat="item in conversionTypes">{{item.name}}</option>
                </select>
              </div>
              <button class="btn btn-primary" ng-click="create()">Submit</button>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>