<link rel="stylesheet" href="./components/ingredient-form/ingredient-form.css">
<div class="container-fluid" ng-controller="ingredient-form">
  <div class="row" style="height: 100vh;">
    <div class="col-sm justify-content-center align-items-center d-flex flex-column" style="padding-top: 20pt; padding-bottom: 20pt; box-sizing: content-box">
        <div class="alert {{status.status}}" role="alert">
          {{status.message}}
        </div>
        <div class="card">
          <div class="card-body">
            <form class="flex-row">
              <div class="form-group">
                <label for="name">Name</label>
                <input id="name" type="text" class="form-control" ng-model="name" placeholder="All Grain No Pain">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" ng-model="isWhole" id="isWhole">
                <label class="form-check-label" for="isWhole">Is a whole portion?</label>
              </div>
              <div class="form-group">
                <label for="carbs">Carbs per serving</label>
                <input id="carbs" type="number" class="form-control" ng-model="carbs" placeholder="15">
              </div>
              <div class="form-group row justify-content-center align-items-center">
                <div class="col-sm">
                  <label for="divisor">Type</label>
                  <select class="form-control" id="typeSelect">
                    <option ng-repeat="item in ingredientTypes">{{item.name}}</option>
                  </select>
                  <small id="emailHelp" class="form-text text-muted">Select your ingredient type, or create a new one instead.</small>
                </div>
                <div class="col-sm">
                  <a class="btn btn-primary mb-2" href="./ingredientTypes.html" target="_blank">
                    Create New
                  </a>
                </div>
              </div>
              <button class="btn btn-primary" ng-click="create()">Create</button>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>